<!DOCTYPE html>		<!-- proper HTML5 doctype -->
<html>
	<head>
		<meta charset="utf-8">
		<title>Basic HTML Skeleton</title>
		
		<meta name="description" content="Whatever you want">
  		<meta name="keywords" content="HTML, CSS, JavaScript">
		<meta name="author" content="CoolName">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="style.css" rel="stylesheet">
	</head>

	<body>
		<h1>Basic HTML Skeleton Page</h1>
		<p>Hello, world!</p>

		<script src="script.js"></script>
	</body>
</html>